<div class="admin-section">
  <span class='vt-section-title'><h5>{{app | ucfirst}} </h5></span>
  <span class='row'>
    <span class="col-md-12 d-content">
      <span class="portlet">
        <div class="tab-container">
          <nav class='tab-nav'>
            <ul class="tabs">
              <li class="tab" [ngClass]="{'active': tab === 1}" (click)="selectTab(1)"><span>Information</span></li>
              <li class="tab"[ngClass]="{'active': tab === 2}" (click)="selectTab(2)"><span>Change Password</span></li>
              <li class="tab"[ngClass]="{'active': tab === 3}" (click)="selectTab(3)"><span>Account</span></li>
              <li class="tab slider"></li>
            </ul>
          </nav>
          <div class="tab-content tab1" [@tabState]="tabs[0].state">
            <div class="profile-info">
              <form>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Email
                  </label>
                  <div class="col-6">
                    {{user.email}}
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Name
                  </label>
                  <div class="col-6">
                      {{ user.firstName + ' ' + user.lastName }}
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-content tab2" [@tabState]="tabs[1].state">
            <div class="change-password">
              <form (ngSubmit)="onSubmit(passf)" #passf="ngForm">
                <div class="form-group m-form__group row">
                  <div class="change-password-error col-8" *ngIf='error'>{{errorMsg}}</div>
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-2">
                    <label for="example-text-input" class="">
                      Old Password
                    </label>
                  </div>   
                  
                  <div class="col-6">
                    <div class="form-control input-icon input-icon-right password-wrapper" style="border: 0px; height: 100%;">
                      <input class="form-control m-input m-input-large" type="password" [(ngModel)]="old_password" name='old password' required #name="ngModel" required placeholder="Old Password" #oldPassword>
                      <span class="input-icon_icon input-icon_icon-right" (click)="togglePassword('showOldPassword', 'oldPasswordField')">
                        <span><i class="icon" [ngClass]="{'icon-eye': !showOldPassword, 'icon-eye-close': showOldPassword}"></i></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-2">
                    <label for="example-text-input" class="">
                      New Password
                    </label>
                  </div>
                  <div class="col-6">
                    <div class="form-control input-icon input-icon-right password-wrapper" style="border: 0px; height: 100%;">

                      <input class="form-control m-input m-input-large" [(ngModel)]="password" type="password" placeholder="New Password" (keydown)="inputPassword(passf)" name="password" required #Password="ngModel">
                      <span class="input-icon_icon input-icon_icon-right" (click)="togglePassword('showPassword', 'passwordField')">
                        <span><i class="icon" [ngClass]="{'icon-eye': !showPassword, 'icon-eye-close': showPassword}"></i></span>
                      </span>
                      
                      <div class="strength-lines">
                        <div class="line" 
                          [ngClass]="{'bg-transparent': passf.value.password === '', 'bg-red': (passf .value.password !== '' && passwordStrength === '') || passwordStrength === 'weak', 'bg-orange': passwordStrength === 'good' , 'bg-green': passwordStrength === 'strong'}"></div>
                        <div class="line"
                          [ngClass]="{'bg-transparent': passwordStrength === '' || passwordStrength === 'weak', 'bg-orange': passwordStrength === 'good' , 'bg-green': passwordStrength === 'strong'}"></div>
                        <div class="line bg-transparent"
                          [ngClass]="{'bg-transparent': passwordStrength === '' || passwordStrength === 'weak' || passwordStrength === 'good' , 'bg-green': passwordStrength === 'strong'}"></div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-2">
                    <label for="example-text-input" class="">
                      Confirm Password
                    </label>
                  </div>
                  <div class="col-6">
                      <div class="form-control input-icon input-icon-right password-wrapper" style="border: 0px; height: 100%;">
                          <input class="form-control m-input m-input-large" type="password"  [(ngModel)]="confirm_password" name="name" required #name="ngModel" placeholder="Confirm Password" #confirmPassword>
                          <span class="input-icon_icon input-icon_icon-right" (click)="togglePassword('showConfirmPassword', 'confirmPasswordField')">
                            <span><i class="icon" [ngClass]="{'icon-eye': !showOldPassword, 'icon-eye-close': showConfirmPassword}"></i></span>
                          </span>
                        </div>
                  </div>
                </div>
                <div class="form-group m-form__group">
                  <div class="col-md-3 offset-md-4">
                    <button type="button" class="btn btn-danger btn-upload btn-lg" [routerLink]="['/users']">Back</button>
                    <button class="btn btn-primary btn-upload btn-lg" multipart="" [disabled]="f.invalid">Submit</button> 
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-content tab3" [@tabState]="tabs[2].state">
            <div class="account row col-12">
              <div class="profile-container col-8">
                <form (ngSubmit)="onChangeName(f)" #f="ngForm">
                  <span class='title'>Name</span>
                  <div class="row col-12 name-fields">
                    <!-- <div class="col-5"> -->
                      <input class="form-control m-input m-input-large col-5 first-name" type="text" [(ngModel)]="firstName" name="firstName" required #name="ngModel" placeholder="First Name" >
                    <!-- </div> -->
                    <!-- <div class="col-5"> -->
                      <input class="form-control m-input m-input-large col-5" type="text" [(ngModel)]="lastName" name="lastName" required #name="ngModel" placeholder="Last Name" >
                    <!-- </div> -->
                  </div>
                  <div class="row col-12 btns">
                    <button class="btn btn-primary btn-lg">Change Name</button>
                  </div>
                </form>
                <form (ngSubmit)="onDeleteAccount(user)">
                  <span class='title'>Delete account</span>
                  <span class="desc">Once you delete your account, there is no going back. Please be certain.</span>
                  <span class='btns'>
                      <button 
                        class="btn btn-danger btn-upload btn-lg" 
                        type="submit"
                        >Delete Your Account</button>
  
                        <span class='confirm-field col-7' [ngClass]="{'enabled': confirmOpen}"><input class="form-control m-input m-input-large" type="text" [(ngModel)]="confirm_email" name='confirm_email' required #name="ngModel" required placeholder="Confirm your email"></span>
                  </span>
                </form>
              </div>
              <div class="col-4">
                <div class="title" *ngIf='false'>Profile Picture</div>
                <div class="avatar" *ngIf='false'>
                  <img class="avatar rounded-2" src="/assets/img/avatar.svg" width="200" height="200" alt="@qqnc">
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </span>
    </span>
  </span>
</div>