
<div class="create-wrapper" [ngClass]="{'form-success':signing}" *ngIf="valid; else elseBlock">
  <div class="create-container">
    <h1>Create Password</h1>
    <div>Please enter your new password</div>
    <div class="zgroup"> 
      <div class="bigSqr">
        <div class="square first"></div>
        <div class="square second"></div>
        <div class="square third"></div>
        <div class="square fourth"></div>
      </div>
    </div>
    <div class='form-container'>
    
      <form class="form create-form" (ngSubmit)="onCreate(f)" #f='ngForm'>
        <div class="create-error col-7" *ngIf='createError'>{{createErrorMsg}}</div>
        <!-- <div class="form-group col-7">
          <input type="password" placeholder="Password" ngModel name="password" required />
        </div> -->
        <div class="form-group col-7">
          <div class="input-icon input-icon-right password-wrapper">
            <input type="password" placeholder="Password" (keydown)="inputPassword(f)" ngModel name="password" required #password>
            <span class="input-icon_icon input-icon_icon-right" (click)="togglePassword()">
              <span><i class="icon" [ngClass]="{'icon-eye': !showPassword, 'icon-eye-close': showPassword}"></i></span>
            </span>
            <div class="strength-lines">
              <div class="line" 
                [ngClass]="{'bg-transparent': f.value.password === '', 'bg-red': (f.value.password !== '' && passwordStrength === '') || passwordStrength === 'weak', 'bg-orange': passwordStrength === 'good' , 'bg-green': passwordStrength === 'strong'}"></div>
              <div class="line"
                [ngClass]="{'bg-transparent': passwordStrength === '' || passwordStrength === 'weak', 'bg-orange': passwordStrength === 'good' , 'bg-green': passwordStrength === 'strong'}"></div>
              <div class="line bg-transparent"
                [ngClass]="{'bg-transparent': passwordStrength === '' || passwordStrength === 'weak' || passwordStrength === 'good' , 'bg-green': passwordStrength === 'strong'}"></div>
              </div>
          </div>
        </div>
        <div class="form-group col-7">
            <div class="input-icon input-icon-right">
              <input 	type="password" 
                placeholder="Confirm Password" 
                ngModel 
                name="confirm_password" 
                required 
                (blur)="onCheckPassword(f)"
                #confirmPassword> 
              <span class="input-icon_icon input-icon_icon-right" (click)="toggleConfirmPassword()">
                <span><i class="icon" [ngClass]="{'icon-eye': !showConfirmPassword, 'icon-eye-close': showConfirmPassword}"></i></span>
              </span>
            </div>
          </div>
        <div class="form-group col-7">
          <button type="submit" id="create-button" class="create-password" [disabled]="createError">Create Password</button>
        </div>
        
      </form>
    </div>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<ng-template #elseBlock> 
  <div class="alert-box" style='display: none' #alertBox>
    <div class="alert alert-danger">
      Session expired, <a style="cursor: pointer" (click)="resend()">resend the validation link</a>
    </div>
  </div>
</ng-template>