<div class="login-wrapper" [ngClass]="{'form-success':signing, 'loading': loading}">
    <div class="containloader">
      <div class="background"></div> 
      <div class="zgroup"> 
        <div class="bigSqr">
          <div class="square first"></div>
          <div class="square second"></div>
          <div class="square third"></div>
          <div class="square fourth"></div>
        </div>
        
      </div>
    </div>
    <div class="login-container">
      <h1>Retrieve your account</h1>
      <div class='form-container'>
        <form class="form login-form" #f='ngForm' (ngSubmit)="onSubmit(f)" [formGroup]="aFormGroup">
          <div class="login-error" *ngIf='error'>{{errorMsg}}</div>
          <input type="text" placeholder="Email" ngModel name="email" required [email]="true" formControlName="email">
          <div class='recaptcha'>
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              (reset)="handleReset()"
              (expire)="handleExpire()"
              (load)="handleLoad()"
              (success)="handleSuccess($event)"
              [useGlobalDomain]="false"
              [size]="size"
              [hl]="lang"
              [theme]="theme"
              [type]="type"
              formControlName="recaptcha">
            </ngx-recaptcha2>
          </div>
          
          <button type="submit" id="login-button" class="login-button" [disabled]="f.invalid">Send me a reset link</button>
          <div class='option-line' style='margin-top: 20px;'>
            <a [routerLink]="['/login']">Go back to     login</a>
          </div>
        </form>
      </div>
      
    </div>
    
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>